.sentiment {
    -webkit-box-align: center;
    align-items: center;
    align-self: center;
    display: flex;
    font-size: 16px;
    padding-right: 22px;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    font-weight: 900;
    padding-left: 22px;
}

.conf_rating {
    align-self: center;
    background: rgb(118, 116, 231);
    height: 64px;
    line-height: 36px;
    margin-bottom: 8px;
    padding: 14px 10px;
    width: 72px;
    font-size: 32px;
    font-family: Poppins, sans-serif;
    font-weight: 900;
}

.conf_rating_text {
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    margin-bottom: 4px;
    text-transform: uppercase;

}

.conf_rating_num {
    align-self: center;
    background: rgb(118, 116, 231);
    height: 64px;
    line-height: 36px;
    margin-bottom: 8px;
    padding: 14px 10px;
    width: 72px;
    font-size: 32px;
    font-family: Poppins, sans-serif;
    font-weight: 900;
}

.center_box {
    display: flex;
    flex-direction: column;
}

.pos_neg_score {
    border-bottom: 2px solid rgb(21, 21, 21);
    color: rgb(21, 21, 21);
    cursor: pointer;
    font-weight: 700;
    line-height: 1.8;
    min-width: 150px;
    padding-bottom: 8px;
}

.try {
    color:rgb(21, 13, 13);
}

.add_slider {
    width: 85%;
    display: inline;
    display: inline-flex;
    padding-bottom: 5%;
    padding-top: 0%;
}
.add_percentage {
    width: 30%;
    display: inline;
    font-size: 18px;
    padding-left: 2%;
}

.chart_card {
    width: 100vw;
    height: calc(100vh-40px);
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.chart_size {
    width: 295px;
    height: 295px;
    padding: 10px;
    /* border-radius: 20px;
    border: solid 3px rgb(255,26,104); */
    background: white;
    justify-content: center;
}

.highlight {
    text-decoration: underline;
}

.insert_proc_review {
    flex: 1 1 0%;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.top_title_button {
    display: flex;
    margin: 0px 20px 20px 0px;
}


.trial {
    background-color: rgb(27, 25, 171);
}




.two_cols {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    margin: auto;
}

.slider_container {
    
    width: 73%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: inline-block;
    margin-left: 10%;
}


.slider {
    width: 100%;
    background: linear-gradient(90deg, #ff7373, #83ffd2 90%); 
    height: 15px;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    border-radius: 25px;
    border-color: aquamarine;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    /* box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
    -webkit-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
    -moz-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75); */

}


.slider::-webkit-slider-thumb {
    cursor: pointer;
    appearance: none;
    height:30px;
    width: 30px;
    background-color: rgb(70, 130, 239);
    border-radius: 50%;
    border: 7px solid rgb(255,255,255);
    border-color: rgb(146, 159, 182);
    /* box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
    -webkit-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
    -moz-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75); */
}

.percentage_value {
    margin-top: 5px;
    margin-left: 20px;
    margin-right: auto;
    font-weight: bold;
}

.show_processed {
    margin: auto;
    align-content: center;
}


.analysis_specs_title {
    /* margin: auto; */
    /* padding-left: 30%; */
    font-size: x-large;
    width: 100%;
    display: inline-block;
}

.analysis_specs_button {
    /* margin:auto; */
    /* padding-left: 10%; */
    
    width: 25%;
    display: inline-block;
/* }

.more_info_container { */
    /* position: relative;
    top: 30%;
    left: 30%; */
    transform: translate(-30%, -30%);
    text-align: center;
}



.more_info_switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
    margin-bottom: -4%;
    
}

.more_info_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 10px;
}

.more_info_switch input {
    display: none;
    
}

.more_info_slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transform: 0.4s;
    border-radius: 5px;
}

input:checked + .more_info_slider {
    background-color: rgb(74, 175, 96);
}

input:checked + .more_info_slider:before {
    transform: translateX(30px);
}

.load_more_text {
    position: absolute;
    left: -15%;
    top:0;
    transform: translateY(-5%);
    background-color: black;
    color: white;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
    font-size: 10px;
    
}

.more_info_slider:hover + .load_more_text {
    top: -130%;
    visibility: visible;
    opacity: 0.8;
}
